<div id="Banner-{{ section.id }}" class="banner banner--video-only">
    <video src="https://cdn.shopify.com/videos/c/o/v/fcf1964506284280a60e2568e234eb1f.mp4" type="video/mp4" autoplay loop muted playsinline>
    </video>
</div>

{% schema %}
{
  "name": "Video Only Banner",
  "settings": [
    {
      "type": "url",
      "id": "video_url",
      "label": "Vidéo MP4 (obligatoire)"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Video Only Banner"
    }
  ]
}
{% endschema %}
