

.rich-text, .rich-text__heading, .collection {
    background-color: rgb(17, 17, 17) !important;
    color: white !important;
    font-weight: lighter !important;
}

.collection__title {
    display: none !important;
}

.rich-text__heading {
    font-size: 20px !important;
    text-transform: uppercase !important;
}
.rich-text__text {
    display: none !important;
}

#shopify-pc__banner {
    display: none !important;
}